.navbar {
  background-color: rgba(0, 0, 0, 0.7); /* Black background with transparency */
}

.nav-item {
  margin-right: 1px;
}

@media screen and (max-width: 991px) {
  .navbar-toggler,
  svg {
    color: white !important;
    border-color: white !important;
  }

  #link {
    color: white !important;
  }
}
