.booking {
  background: linear-gradient(rgba(19, 53, 123, 0.8), rgba(19, 53, 123, 0.8)),
    url("../components/img/guessgame.jpg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

#hwhite:hover svg,
#hwhite:hover path {
  color: white !important;
}

#carouselId .carousel-control-next-icon,
#carouselId .carousel-control-prev-icon {
  color: #fff !important;
}

.national-info a:hover {
  color: white !important;
  font-size: 18px !important;
}

.national-item .national-plus-icon:hover svg {
  transform: scale(2) !important;
}

.national-item .national-plus-icon svg {
  transform: scale(1) !important;
  transition: 2s;
}
